version: "3"

services:
  app:
    build: .
    ports:
      - 8080:8080
    depends_on:
      - database
    environment:
      MONGO_URL: 'mongodb://database:27017'
      REDIS_URL: 'cache:6379'

  database:
    image: mongo:4.4
    ports:
      - "27017:27017"
